---
layout: archive
title: "Thesis & Publication"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Thesis</h2>
<h3>1. Master of Engineering in Environmental Engineering</h3>
<p>
  <b>University of Chinese Academy of Sciences (Beijing, China)</b><br>
  <br>
  Title: Preparation of Biochar from Malaysian Palm Family Biomass And Its Improvement in Paddy Field Soils<br>
  <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    <img src="/KBlog.github.io/files/UCAS-Thesis.png" alt="UCAS-Thesis" style="width: 48%; margin-bottom: 10px;">
    <img src="/KBlog.github.io/files/UCAS-Thesis-2.png" alt="UCAS-Thesis-2" style="width: 48%; margin-bottom: 10px;">
    <img src="/KBlog.github.io/files/Thesis-3.png" alt="Thesis-3" style="width: 48%;">
    <img src="/KBlog.github.io/files/Thesis-4.png" alt="Thesis-4" style="width: 48%;">
  </div>
</p>

<p>
  This study demonstrates that converting PMF into biochar significantly enhances paddy soil properties, offering a viable and context-specific technical solution for sustainable agriculture and food security in Malaysia, while simultaneously contributing to carbon sequestration.
</p>
<ul>
  <li>Pyrolysis process was optimized at 500 °C with a heating rate of 10 °C/min, with PMF-derived biochar identified as optimal based on its superior yield, fixed carbon content, and agronomic potential.</li>
  <li>Agronomic outcomes from both pot and field trials demonstrated that biochar application significantly enhanced rice growth, with the combination of biochar and fertilizer delivering the highest agronomic benefits. Field trials showed an 8.33% yield increase over the control, with only a minimal gap of 1.37% compared to CS treatments, confirming that PMF500 is a practical and scalable solution for rice cultivation.</li>
  <li>Sustainability assessments indicated moderate degradation resistance for PMF500 based on its R₅₀ value, and both CSP analysis and scenario modeling consistently confirmed that PMF500 outperformed CS500 in CO₂ sequestration performance.</li>
</ul>

<h3>2. Bachelor of Biotechnology</h3>
<p>
  <b>Swinburne University of Technology, Sarawak (Kuching, Malaysia)</b><br>
  <br>
  Title: The effect of pre-treatments on the yield and quality of volatile oil from different parts of the bole of Aquilaria spp.<br>
  <br>
  <img src="/KBlog.github.io/files/swinburne-thesis.png" alt="Swinburne Thesis Poster" style="width: 100%;">
</p>
<p>
  This study evaluated various pre-treatment techniques to enhance oil extraction from Agarwood plant parts (cortex, IP-XR zone, and pith). Acid treatment (H₂SO₄) was found to be the most effective, yielding the highest oil extract (6.92g), followed by combined treatment (3.23g), enzymatic treatment (1.51g), and the control (0.70g). Among the plant parts, the IP-XR zone provided the highest yield (4.98g), outperforming both the cortex (3.26g) and pith (1.04g).
</p>
<p>
  The findings suggest that acid pre-treatment is the optimal method for oil extraction from Agarwood, especially from the IP-XR zone. This approach significantly enhances oil yield, offering a more sustainable and efficient extraction process. The results provide valuable insights for optimizing the agarwood industry’s extraction methods, improving yields, and reducing production costs.
</p>
<hr>
<h2>Publication</h2>
<h3>1. Study of the pyrolysis characteristics and soil amendment potential of palm mesocarp fiber, sago fiber coarse, and sago trunk bark in Malaysia</h3>
<p>
  - Journal of Soils and Sediments · May 8, 2025<br>
  <a href="/KBlog.github.io/files/s11368-025-04046-2.pdf">Show publication</a><br>
  This study investigates the pyrolysis characteristics of underutilized Malaysian biomass materials- palm mesocarp fiber (PMF), sago fiber coarse (SFC), and sago trunk bark (STB), and their potential to enhance soil fertility through biochar. The findings highlight the advantages of PMF-derived biochar, particularly when pyrolyzed at 500°C, in improving soil nutrient retention, promoting paddy yield, and contributing to long-term carbon sequestration.
</p>

<h3>2. Predicting AAK1/GAK Dual-Target Inhibitor against SARS-CoV-2 Viral Entry into Host Cells: An in silico ApproachPredicting AAK1/GAK Dual-Target Inhibitor against SARS-CoV-2 Viral Entry into Host Cells: An in silico Approach</h3>
<p>
  - Penerbit UTM Press · Sep 26, 2021<br>
  <a href="/KBlog.github.io/files/JSST-2021-1(1)article5.pdf">Show publication</a><br>
  Clathrin-mediated endocytosis (CME) is a normal biological process where cellular contents are transported into the cells which is often hijacked by different viruses to enter host cells and cause infections. This study proposes two proteins that regulate clathrin-mediated endocytosis – AAK1 and GAK – as potential therapeutic targets for designing broad-spectrum antiviral drugs.
</p>

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



