---
layout: archive
title: "Thesis & Publication"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Publication</h2>
<p>
  <h3>1. Study of the pyrolysis characteristics and soil amendment potential of palm mesocarp fiber, sago fiber coarse, and sago trunk bark in Malaysia</h3>
  - Journal of Soils and Sediments · May 8, 2025<br>
  This study investigates the pyrolysis characteristics of underutilized Malaysian biomass materials- palm mesocarp fiber (PMF), sago fiber coarse (SFC), and sago trunk bark (STB), and their potential to enhance soil fertility through biochar. The findings highlight the advantages of PMF-derived biochar, particularly when pyrolyzed at 500°C, in improving soil nutrient retention, promoting paddy yield, and contributing to long-term carbon sequestration.
</p>

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



